<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>

   
    <div>

          
        <div>
            <ul>
                <li><a href="/workoutScheduler">Home</a></li>
                <li><a href="/workoutScheduler/MyWorkout">MyWorkout</a></li>
                <li><a href="/workoutScheduler/createWorkout">CreateWorkout</a></li>
            </ul>
        </div>

        <div>
            <form action="/workoutScheduler/createWorkout" method="post">

                <label for="workoutName">WorkoutName</label>
                <input type="text" name="workoutName" id="workoutName">

                <label for="sets">Sets</label>
                <input type="number" name="sets" id="sets">

                <label for="reps">Reps</label>
                <input type="number" name="reps" id="reps">

                <label for="howtoperform">Steps</label>
                <input type="text" name="howtoperform" id="howtoperform">

                <label for="descriptionanduse">Uses</label>
                <input type="text" name="descriptionanduse" id="descriptionanduse">

               <button name="Create" type="submit">Create</button>
            </form>
        </div>
        
    </div>

 
</body>
</html>