<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/home.css">
   
</head>
<body>
    <div id="homemain">

        <div id="navdiv">
            <ul id="navullist">
                <li><a href="/workoutScheduler">Home</a></li>
                <li><a href="/workoutScheduler/MyWorkout">MyWorkout</a></li>
               
            </ul>
        </div>

        
        <div id="wokroutCategorylist">

            <div class="WorkoutCategoryCard">
                <a href="/workoutScheduler?category=Chest"> 
                <img src="/assets/ChestCover.webp" alt="ChestWorkoutimage"> 
                <h4>Chest workout</h4>
                </a> 
            </div>

            <div class="WorkoutCategoryCard">
                <a href="/workoutScheduler?category=Leg">
                <img src="/assets/legCover.jpg" alt="ChestWorkoutimage"> 
                <h4>Leg workout</h4>
                </a>
            </div>

            <div class="WorkoutCategoryCard">
                <a href="/workoutScheduler?category=Back"><img src="/assets/backCover.jpeg" alt="ChestWorkoutimage"> 
                <h4>Back workout</h4>
                </a>
            </div>

            <div class="WorkoutCategoryCard">
                <a href="/workoutScheduler?category=Shoulder"><img src="/assets/shoulderCover.png" alt="ChestWorkoutimage"> 
                <h4>Shoulder workout</h4>
                 </a>
            </div>

            <div class="WorkoutCategoryCard">
                <a href="/workoutScheduler?category=Arms"><img src="/assets/armCover.png" alt="ChestWorkoutimage"> 
                <h4>Arms workout</h4>
                </a>
            </div>

            <div class="WorkoutCategoryCard">
                <a href="/workoutScheduler?category=Abs"><img src="/assets/abs.jpeg" alt="ChestWorkoutimage"> 
                <h4>Abs workout</h4>
                </a>
            </div>

        </div>


    <!--   
    -->

    </div>
</body>
</html>