<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="/Styles/myworkout.css">
</head>
<body>
    <div id="myworkoutmain">

        <div id="navdiv">
            <ul id="navullist">
                <li><a href="/workoutScheduler">Home</a></li>
                <li><a href="/workoutScheduler/MyWorkout">MyWorkout</a></li>
            </ul>
        </div>

        <div id="myworkoutlist">
           
        </div>

        <div id="createworkoutform">

                <h1>Create Workout</h4>
 
                <label for="workoutName">WorkoutName</label>
                <input required  type="text" name="workoutName" id="workoutName" placeholder="Deadlift">
                <hr>
                <label for="sets">Sets</label>
                <input required type="number" name="sets" id="sets" placeholder="3">
                <hr>
                <label for="reps">Reps</label>
                <input required type="number" name="reps" id="reps" placeholder="15">
                <hr>
                <label for="howtoperform">Steps</label>
                <textarea required type="text" name="howtoperform" id="howtoperform">
                </textarea>
                <hr>
                <label for="descriptionanduse">Uses</label>
                <textarea required type="text"  name="descriptionanduse" id="descriptionanduse" >
                </textarea>

               <button name="Create" id="createbutton"  onclick="addData()">Create</button>
          
        </div>
        
       
    </div>

<script>

showWorkouts()

    const getData=async (key)=>{
        const workoutsaveddata = await localStorage.getItem(key);
        if(workoutsaveddata){
            console.log('data exist');
           
        }else{
            console.log('notexist')
        }
        return workoutsaveddata
    }

    async function showWorkouts(){
    document.getElementById('myworkoutlist').innerHTML='';

    console.log('inside show')
    const localdata = await localStorage.getItem('WorkoutData')
    const workouts = JSON.parse(localdata)
    console.log(workouts)
    let list = document.getElementById('myworkoutlist')
       console.log(workouts.length)
       if(workouts.length<1){

            list.innerHTML='<h2>No wokrout <span style="font-size:20px";>&#128577   ;</span> Create your workout </h2>'

       }else{
            console.log('inside else')
        workouts.map((data,index)=>{
            console.log(data)
            list.innerHTML +=`
                            <ul id=${index}>
                            <button onclick=removeWorkout(${index})>Delete</button>
                            <li> <label> Workout :</label> <p>${ data['workoutname']}</p> </li>
                            <li> <label>  Sets :</label> <p> ${ data['sets']}</p> </li>
                            <li> <label> Reps : </label> <p> ${ data['reps']}</p> </li>
                            <li> <label> Steps : </label> <p> ${ data['howtoperform']}</p> </li>
                            <li> <label> Uses : </label> <p> ${ data['descriptionanduse']}</p></li>
                            </ul>`
        })}
    }

    const addfirstTime =async (newData)=>{
        const workoutdataarray=[newData];
        const converarraytostring= JSON.stringify(workoutdataarray);
        await localStorage.setItem('WorkoutData',converarraytostring);
    
    }
  
    const addtoExisting =async (newData)=>{
        const workoutExistingdata = await getData('WorkoutData');
        const convertToarray = JSON.parse(workoutExistingdata);
       
        convertToarray.push(newData);
       
        const newWorkoutConverttostring = JSON.stringify(convertToarray);
        await localStorage.setItem('WorkoutData',newWorkoutConverttostring);
       
        
    }

    async function setEmpty(){
    document.getElementById('workoutName').value='';
    document.getElementById('sets').value='';
    document.getElementById('reps').value='';
    document.getElementById('howtoperform').value='';
    document.getElementById('descriptionanduse').value='';
    }
    

    async function addData(){

    const existingdata=await getData('WorkoutData');
    

    const workoutname = document.getElementById('workoutName').value;
    const sets = document.getElementById('sets').value;
    const reps = document.getElementById('reps').value;
    const howtoperform = document.getElementById('howtoperform').value;
    const descriptionanduse = document.getElementById('descriptionanduse').value;

    if(workoutname&&sets&&reps&&howtoperform&&descriptionanduse){

    
    
    const newWorkout = {
        workoutname:workoutname,
        sets:sets,
        reps:reps,
        howtoperform:howtoperform,
        descriptionanduse:descriptionanduse
    }


    if(existingdata){
       
        await addtoExisting(newWorkout);
        showWorkouts()
        setEmpty()
        return console.log('addto existingh task complete')
        
    }else{
       
        await addfirstTime(newWorkout);
        showWorkouts()
        setEmpty()
        return console.log('created new workout complete')
        
    }

    }else{
        return alert('add all fields')
    }
    
    }

    
  
    
    async function removeWorkout(position){
        const workoutslists = await localStorage.getItem('WorkoutData')
        const wokroutsdata = JSON.parse(workoutslists)
        const newData= wokroutsdata.filter( (data,index)=>{if(index!=position){return data}} )
        const afterremovelist= JSON.stringify(newData);
        await localStorage.setItem('WorkoutData',afterremovelist)
       
        showWorkouts()

    }

    

</script>

</body>
</html>