@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mitr:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: medium;
}
#Categorymain{
    height: 100vh;
    width: 100vw;
    padding: 10px;
    overflow-x: hidden;
}
#Categoryworkoutcard{
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
   
    
}
.workoutcard{
    display: flex;
    align-items: center;
    min-height: 60vh;
    margin: 0px 10px;
    background-color: #fafafa;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
    
}

.workoutcard ul{
    height:fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

li{
    display: flex;
    align-items: center;
    column-gap: 15px;
    height: 10vh;
}

li  p{
    font-family: 'REM', sans-serif;
   
}

li label{
    font-family: 'Bungee Spice', cursive;
    font-family: 'Mitr', sans-serif;
}
   
@media screen and (min-width:350px) and (max-width:480px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: x-small;
    }
    #Categorymain{
        height: 100%;
        width: 100%;
        padding: 10px;
        overflow-x: hidden;
    }
    .workoutcard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 5px;
    background-color: #fafafa;
    padding-left: 10px;
    border-radius: 10px;
   
    
}
.workoutcard ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
}
li{
    display: flex;
    column-gap: 5px;
    height: 30px;
}

}

@media screen and (min-width:481px) and (max-width:768px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: small;
    }
    #Categorymain{
        height: 100%;
        width: 100%;
        padding: 10px;
        overflow-x: hidden;
    }
    .workoutcard{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 5px;
    background-color: #fafafa;
    padding-left: 5px;
    border-radius: 10px;
   }

    .workoutcard ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 40px;
}
li{
    display: flex;
    column-gap: 8px;
    height: 45px;
}
}